{% extends "common/_base.html" %}
{% load compress %}
{% load staticfiles %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'stylesheets/css/jTinder.css' %}?v=00001">
<link rel="stylesheet" href="{% static 'stylesheets/css/myTinder.css' %}?v=00001"> -->
{% endblock %}

{% block content %}

<body>
    <div class="header">
        <!-- <div class="cog"></div>
        <div class="tinder-logo"></div>
        <div class="chat"></div> -->
    </div>
    <div class="push">
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
            <ul>
            {% for image in images %}
                <li class="pane pane{{ forloop.counter }}" data-image-id="{{ image.id }}" data-name="{{ image.name }}">
                    {% if image.file %}
                    <div class="img" style="background:url('{% static image.file.url %}') no-repeat scroll center center; background-size: cover;"></div>
                    {% else %}
                    <div class="img" style="background:#eee;"></div>
                    {% endif %}
                    <div class="info">
                    <p class="text">{{ image.name }}</p>
                    <div class="friends"></div>
                    </div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
            {% endfor %}
            </ul>
            <!-- <ul class="discarded">
            </ul> -->
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions" id="control">
        <div class="button no">
            <a href="#" class="dislike trigger fa fa-remove fa-2x"></a>
        </div>
        <div class="button info">
            <a href="#" class="trigger fa fa-info"></a>
        </div>
        <div class="button yes">
            <a href="#" class="like trigger fa fa-heart fa-2x"></a>
        </div>
    </div>
    <div id="thankyou" class="hide">
        <p> That's the last item <span class="winner"></span> ! </p>
    </div>
    </div>
</body>

{% endblock %}

{% block scripts %}

{% compress js %}
<script>
    var context = {
        swipeRightUrl: function(uid) {
            return '{% url "swipe-right" uid=999 %}'.replace(999, uid);
        },
        swipeLeftUrl: function(uid) {
            return '{% url "swipe-left" uid=999 %}'.replace(999, uid);
        },
        voteUrl: function(uid) {
            return '{% url "vote" uid=999 %}'.replace(999, uid);
        }
    };
</script>
<script src="{% static 'js/jquery.transform2d.js' %}"></script>
<script src="{% static 'js/jquery.jTinder.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endcompress %}

{% endblock %}
